@import "../../../styles/mixins.scss";

.header {
  position: relative;

  max-width: 1080px;
  margin: 0 auto;
  padding: 12px 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;

    background: radial-gradient(
      62.87% 100% at 50% 100%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;

    &-label {
      font-family: "Heading";
      font-size: 2.4rem;

      @include text-gradient(#a5b4fc, #60a5fa);
    }

    &-icon {
      margin-top: -4px;

      font-size: 2rem;
      color: var(--primary-color);
    }
  }

  &__title {
    font-family: "Heading";
    font-size: 2.4rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 16px;

    &-item {
      color: var(--text-muted);
      transition: color 0.3s ease;
      &:hover {
        color: var(--text-color);
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .header {
    &__logo-label {
      display: none;
    }

    &__nav-item {
      font-size: 12px;
    }
  }
}
