<p-dialog
  header="User transactions"
  [(visible)]="dialogVisible"
  [style]="{ width: '50rem' }"
>
  <div *ngIf="!transactions.length">
    This user doesn't have any transactions
  </div>
  <div *ngIf="transactions.length" class="transactions__container">
    <p-table
      [value]="transactions"
      [tableStyle]="{ 'min-width': '25rem' }"
      styleClass="table"
      responsiveLayout="stack"
      [breakpoint]="'640px'"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="background: #16161666; border-top-left-radius: 6px">
            Date of purchase
          </th>
          <th style="background: #16161666">Item purchased</th>
          <th style="background: #16161666">Item category</th>
          <th style="background: #16161666">Amount spent</th>
          <th style="background: #16161666; border-top-right-radius: 6px">
            Actions
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-transaction
        let-columns="columns"
        *ngFor="let transaction of transactions"
      >
        <tr style="background: #16161666">
          <td>
            <span class="p-column-title">Date of purchase</span>
            {{ transaction.date | date : "dd MMM, yyyy HH:mm" }}
          </td>
          <td>
            <span class="p-column-title">Purchased item</span>
            {{ transaction.purchasedItem }}
          </td>
          <td>
            <span class="p-column-title">Category</span>
            {{ transaction.category }}
          </td>
          <td>
            <span class="p-column-title">Spent amount</span>
            {{ transaction.amountSpent }}
          </td>
          <td>
            <span class="p-column-title">Actions</span>
            <div>
              <i
                class="pi pi-file-edit"
                style="margin-right: 8px; font-size: 1.4rem; cursor: pointer"
                (click)="showEditDialog(transaction)"
              ></i>
              <i
                class="pi pi-trash"
                style="font-size: 1.4rem; cursor: pointer"
                (click)="confirmDelete(transaction.id)"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>

<app-transaction-dialog (getTxEvent)="getTransactions($event)" />
